img{	border-radius: 50%;
	width: 100px;
	height:100px;
}
.div1{
	height: 150px;
	width: 20px;
	margin-bottom: 10px;

}	
button{
	border-color: violet;
	background-color: violet;
}
.head1{
	margin-left: 20px;
	color: white;
	text-align: center;
	border: solid;
	border-color: darkblue;
	background-color: darkblue;
	position: fixed;
	top: 0px;
	width: 1102px;
	left: 130px;
}
#signup{
	text-ali7g: center;
	margin-left: 575px;
	margin-right: 575px;
	background-color: violet;
}


.contenu{
	margin-left: 400px;
	margin-top: 227px;
	text-align: justify;
	width: 500px;
}
body{
	display: flex;
	margin:auto;
}

.div2{
	
margin-left: 0px;
}

aside{
	top: 0px;
	height: 900px;
	width: 150px;
	color: white;
	position: fixed;
	background-color: darkblue;
}