button{
	border-color: violet;
	background-color: violet;
}
#head1{
	color: white;
	text-align: center;
	border: solid;
	border-color: darkblue;
	background-color: darkblue;
}
#signup{
	text-ali7g: center;
	margin-left: 575px;
	margin-right: 575px;
	background-color: violet;
}


.contenu{
	margin-left: 250px;
}